html {
  font-family: SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,微软雅黑,microsoft yahei,sans-serif;
}

.el-aside {
  padding-top: 20px;
  .box-card {
    margin-bottom: 20px;
  }
}

.e3e3e3 {
  background-color: rgba(227, 227, 227, .5);
}

.black {
  background-color: rgba($color: #000000, $alpha: 0.5) !important;
  border-color: rgba($color: #000000, $alpha: 0.5);
  color: #fff !important;
}

.aquamarine {
  background-color: rgba(127, 255, 212, .7);
}

.skyblue {
  color: #409EFF;
}

.color_aqua {
  color: aquamarine;
}

.bg_skyblue {
  background-color: rgba(64, 158, 255, .7)
}

.zZindex {
  z-index: 99999 !important;
}

.headPhoto,.user_photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}